<div class="nav" id="nav">
    <a href="/"><img src="/assets/favicon.gif" border=0 alt="Home"></img></a>
    <div class="dropdown">
        <button>
            tree <% if @item[:tree] %> <div class="triangle-right"></div> <%= @item[:tree] %> <% end %> <div class="triangle-down"></div>
        </button>
        <div class="dropdown-content">
            <% @config[:trees].each do |tree|  %>
                <% if @item[:tree] != tree || @item[:pre_merge] %>
                    <a href="/tree/<%= tree %>/<%= @item[:current_tree_view] || "index.html" %>"><%= tree %></a>
                <% end %>
            <% end %>
        </div>
    </div>

    <% if @item[:pre_merge] %>
        <a href="" id="pre-merge-name"></a>
        <script type="text/javascript">
            var pathElements = document.URL.split('/');
            var preMergeName = pathElements[pathElements.length - 2];
            document.querySelector("#pre-merge-name").innerText = preMergeName;
        </script>
    <% end %>
    <% if @item[:hw_list] %>
        <a href="/hardware.html">hardware</a>
        <a href="" id="machine-name"></a>
        <script type="text/javascript">
            var pathElements = document.URL.split('/');
            var machineName = pathElements[pathElements.length - 2];
            document.querySelector("#machine-name").innerText = machineName;
        </script>
    <% end %>

    <% if @item[:current_tree_view] %>
        <div class="dropdown">
            <button>view <div class="triangle-right"></div> <%= @item[:current_tree_view_type] %> <div class="triangle-down"></div></button>
            <div class="dropdown-content">
                <% @config[:view_types].each_pair do |path, name| %>
                    <% if @item[:current_tree_view] != path %>
                        <a href="<%= path %>"><%= name %></a>
                    <% end %>
                <% end %>
                <% if @item[:pre_merge] %>
                    <a href="filelist.html">filelist</a>
                <% end %>
            </div>
        </div>
    <% end %>

    <!-- for the test-result.js -->
    <% if @page == :test_result %>
        <div class="dropdown">
            <button><span id="tree_name"></span> <div class="triangle-down"></div></button>
            <div class="dropdown-content">
                <% @config[:view_types].each_pair do |path, name| %>
                    <a href="../../<%= path %>"><%= name %></a>
                <% end %>
            </div>
        </div>

        <div class="dropdown">
            <!-- post-merge result have no specific  view, removed via js for the pre-merge -->
            <a id="run_name_href" href=".."><span class="run_name"></span></a>

            <!-- pre-merge result view selection, removed via js for the post-merge -->
            <button class="run_name_dropdown"><span class="run_name"></span> <div class="triangle-down"></div></button>
            <div class="dropdown-content run_name_dropdown">
                <% @config[:view_types].each_pair do |path, name| %>
                    <a href="../<%= path %>"><%= name %></a>
                <% end %>
            </div>
        </div>

        <div class="dropdown"><a href="." id="machine_name">machine</a></div>
        <div class="dropdown"><a href="" id="test_name">test results</a></div>
    <% end %>

    <div class="right">
        <a href="/hardware.html">Hardware List</a>
    </div>
    <% if @item[:current_tree_view] %>
        <input class="right" type="text" id="filtertext" name="Test name filter" onkeydown="checkenter(event)" value="" placeholder="Test filter">
    <% end %>
</div>
